//主色调
$global-primary: #29105D !default;

//次色调
$global-minor: #9C94FF !default;

//辅色调
$global-general: #F7F7F7 !default;

//红色提示
$global-red: #f56c6c !default;

//性别女
$sex-girl: #FF0080 !default;

//性别男
$sex-boy: #60baff !default;